html, body {
    height: 100%; /* Устанавливает высоту в 100% для html и body */
    margin: 0; /* Убирает отступы */
    font-family: 'Arial', sans-serif;
}
.wrapper {
    min-height: 100vh; /* Минимальная высота обертки - 100% высоты вьюпорта */
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
}
.content {
    flex: 1; /* Контент занимает все доступное пространство */
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.custom-logo-link {
    padding-right: 10px;
}
.nav-link {
    color: #FFFFFF !important;
}
.nav-item {
    border-radius: 10px;
}
.nav-item:hover {
    background: #3b93ff;
}
.form-group {
    display: flex;
    margin-left: 100px;
    align-items: center;
    margin-bottom: 15px;
}
.round-button {
    align-items: center;
    border: 0;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    gap: 6px;
    justify-content: center;
    padding: 0;
    transition: transform 0.2s ease; /* Плавный переход для увеличения */
    position: absolute;
    left: 34.4%;
}
.round-button:hover {
    transform: translateY(-25%) scale(1.2); /* Увеличение на 10% при наведении */
    background-color: #eff1f4;
}
.arrow-icon .arrow-icon--up{
    transition: transform 0.2s ease; /* Плавный переход для стрелочек */
}

.round-button:hover .arrow-icon--up {
    transform: translate(2px) rotate(180deg); /* Поднимаем верхнюю стрелочку */
}

.round-button:hover .arrow-icon--down {
    transform: translate(-2px); /* Опускаем нижнюю стрелочку */
}

.round-button--active .arrow-icon {
    color: #0c73fe;
    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    z-index: 5;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}
.form-from {
    max-width: 204px;
    height: 60px;
    padding: 9px 50px 9px 15px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    border: none;
}

.form-to {
    max-width: 204px;
    height: 60px;
    padding: 9px 50px 9px 15px;
    border: none;
}

.form-date {
    max-width: 204px;
    height: 60px;
    padding: 9px 50px 9px 15px;
    border: none;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}

.gap-3{
    gap: 3px;
}

.input-group {
    position: relative;      /* Позволяет кнопке позиционироваться относительно этого контейнера */
    display: flex;          /* Устанавливаем flex-расположение элементов */
    align-items: center;
}

.button-search {
    max-width: 204px;
    height: 60px;
    padding: 9px 20px 9px 20px;
    border: none;
    border-radius: 16px;
    background: #fa742d;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #FFFFFF;
    line-height: 25px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, Inter, Roboto, Helvetica, Arial, sans-serif;
}

.button-search:hover {
    background: #e45c24;
}
.navbar-brand {
    white-space: normal !important;
}
.date {
    position: relative;
}
.date svg {
    color: #007bff;
    position: absolute;
    left: 80%;
    z-index: 0;
    transform: translateY(80%)
}
.form-from:active,
.form-to:active,
.form-date:active {
    outline: none;
    /* Цвет рамки для active */
    border: 2px solid #f25122;
}
.form-from:focus,
.form-to:focus,
.form-date:focus {
    outline: none;
    border: 2px solid #f25122;
}
.button-search:active,
.button-search:focus {
    outline: none;
}
@media (max-width: 1399px) {
    .round-button {
        left: 31.4%;
    }
}
@media (max-width: 1199px) {
    .round-button {
        left: 28%;
    }
}
@media (max-width: 991px) {
    .round-button {
        left: 33%;
        transform: translateY(-180%) !important;
    }
}

@media (max-width: 767px) {
    .arrow-icon--up {
        transform: rotate(-90deg) translateY(50%) translate(-30%)!important; /* Поворачиваем всю кнопку на 90 градусов */
    }
    .arrow-icon--down {
        transform: rotate(90deg) translateY(50%) translate(-30%)!important; /* Поворачиваем всю кнопку на 90 градусов */
    }
    .input-group .mb-3 {
        margin-bottom: 0 !important;
    }
    .form-from {
        max-width: 604px;
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 16px;
    }
    .form-to {
        max-width: 604px;
        width: 100%;
    }
    .form-date {
        max-width: 604px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 16px;
        width: 100%;
    }
    .round-button {
        left: 75%;
        transform: translateY(-265%) !important;
    }
    .button-search {
        max-width: 604px;
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.round-button--active .arrow-icon--up {
    transform: rotate(180deg);
}
.button-icon-container {
    right: 16px;
    transform: translateY(-25%);
}

.round-button--active.button-icon-container {
    box-shadow: 2px 0 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    flex-direction: column;
    gap: 0;
    height: 26px;
    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.33, .96, .49, 1.01);
    width: 26px;
    z-index: 4;
}

@media (hover: hover), (pointer: fine) {
    .round-button:not(:disabled) {
        cursor: pointer;
    }
}

.button-icon-container {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
}


.hero-section {
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden; /* Скрыть элементы, выходящие за пределы секции */
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #007bff;
    z-index: 1;
}
.hero-section h1 {
    font-family: 'Montserrat', sans-serif;
}

.hero-section h1, .hero-section p, .hero-section form {
    position: relative; /* Поднимает контент над затемняющей подложкой */
    z-index: 2;
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .search-form .row > div {
        flex: 0 0 100%; /* Элементы занимают 100% ширины на экранах до 768px */
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .search-form .row > div {
        flex: 0 0 100%; /* Элементы занимают 100% ширины на экранах до 576px */
        max-width: 100%;
    }
}

